

/// fonts


$font-default:'Montserrat', sans-serif;;


/// colors
$dark:#060606;
//$light: #1b1e21;
$accent: #FF0000;
$white: #F1EDE8;
$background: #212121;
$muted: #FF6C00;

//media
$tablet: 990px;

